<h1>Doto Time?</h1>
<div class="row">
  <p>Currently <%= players.count{|p| p[:state] != :offline } %> users online-ish</p>
  <p>Currently <%= players.count{|p| p[:game_name] } %> users in game</p>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>State</th>
      <th>Game ID</th>
      <th>Game Name</th>
    </tr>
    <% players.each do |player| %>
    <tr>
      <td><%= player[:id] %></td>
      <td><%= player[:name] %></td>
      <td><%= player[:state] %></td>
      <td><%= player[:game_id] %></td>
      <td><%= player[:game_name] %></td>
    </tr>
    <% end %>
  </table>
</div>
